.fast-bid{
    border: 1px solid var(--secondary_fade);
    border-radius: 10px;
  
}

.fast-bid div{
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.fast-bid .button{
    margin: 0;
}

.fast-bid::backdrop{
    background: rgba(0, 0, 0, 0.3)
}