<script type="module" src="assets/js/modaleBid.js"></script>
<dialog id="modaleBid">
<h2>Mise rapide</h2>
{{auction.auction_name}}
  <p>Confirmez la mise rapide sur l'enchère </p>
  <form method="post"  action="bids?entite=bid&action=b&auction_id={{ auction.auction_id }}">
 
  <input type="number">$

  <input type="submit" class="OK focus" value="Miser"> 

  </form>
  
  <button class="KO ">Annuler</button>
</dialog>