<script type="module" src="assets/js/modaleBid.js"></script>
<dialog id="modaleBid">
<h2>Mise rapide</h2>
{{auction.auction_name}}
  <p>Confirmez la mise rapide sur l'enchère </p>
  <input type="number">$
  <div class="actions">
    <button class="OK focus">Miser</button>
    <button class="KO ">Annuler</button>
  </div>
</dialog>