<section>
  <h1>{{ titre|upper }}</h1>

  <span> Prénom: {{ user.user_firstName}}</span>
  <span> Nom: {{ user.user_lastName}}</span>
  <span> Courriel: {{ user.user_email }}</span>
<hr>
  <a href="">Modifier </a><hr>

  <a href="auction?entite=auction&action=a">Créer une enchère</a><hr>
  <a href="">Voir mes enchères</a><hr>
  <a href="">Voir mes mises</a><hr>


  </section>