<section>
  <h1>{{ titre|upper }}</h1>

  <span> Prénom: {{ user.user_firstName}}</span>
<br>
  <span> Nom: {{ user.user_lastName}}</span>
<br>
  <span> Courriel: {{ user.user_email }}</span>
<br>
<hr>
  <a href="">Modifier </a><hr>

  <a href="auctions?entite=auction&action=a">Créer une enchère</a><hr>
  <a href="auctions?entite=auction&action=l">Voir mes enchères</a><hr>
  <a href="">Voir mes mises</a><hr>


  </section>